In [9]:
# octal_converter.ipynb

# Cell 1 - Octal to Decimal

import numpy as np


def octal_to_decimal(o):
    # Reverse string 'b' because the
    # LSB must be in first position
    o= o[::-1]
    sum = 0
    for position in range(len(o)):
        weight = pow(8, position)
        digit = int(o[position])
        sum += digit * weight
    return sum


o = "2323"
d = octal_to_decimal(o)
print(f"{o} in octal = {d:,} in decimal")

2323 in octal = 1,235 in decimal

In [40]:
# Cell 2 - Decimal to Octal


def decimal_to_octal(d):
    o = ""
    while d > 0:
        o += str(d % 8)
        d = int(d / 8)
    # Reverse string 'b' because the
    # LSB must be in first position
    o = o[::-1]
    return o



o = decimal_to_octal(d)
print(f"{d:,} in decimal = {o} in octal")

1,235 in decimal = 2323 in octal

In [43]:
# Cell 3 - Octal to Decimal non looping

def nl_octal_to_decimal(o):
    #takes the string objet 2323 and converts it from a number with base 8 to a number with a base 10
    temp = int(o,base=8)
    return temp

o = str(2323)

d = nl_octal_to_decimal(o)

print(f"{o} in octal = {d:,} in decimal")

2323 in octal = 1,235 in decimal

In [45]:
# Cell 4 - Decimal to Octal non looping
def nl_decimal_to_octal(d):
    #converts d the base 10 reprsentation of 2323 into base 8 or octal
    return np.base_repr(d,base = 8)

#conver decimal number calculated in previous cellback to octal

o = nl_decimal_to_octal(d)

print(f"{d:,} in decimal = {o} in octal")

1,235 in decimal = 2323 in octal